<%- include('./partials/navbar') %>
<%- include('./layouts/boilerplate') %>
<head>
    <title>About Me</title>
    <link rel="stylesheet" href="/css/about.css">
 </head>
 <body>
    <div class="container mt-4 content">
        <h5 class="card-title">This is me</h5>
        <div class="content-container">
          <div class="card-img-box">
            <img src="/uploads/Salamanca.jpg" class="card-img img-fluid" >
          </div>
          <div class="card-content">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
               <p> Malesuada proin libero nunc consequat interdum varius sit amet. Adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum.
                 Quis viverra nibh cras pulvinar mattis nunc sed blandit. Vel turpis nunc eget lorem dolor. Sodales ut etiam sit amet nisl purus in mollis nunc.
                  Non curabitur gravida arcu ac tortor dignissim convallis aenean et.</p>
                   <p>Vivamus at augue eget arcu. Ante in nibh mauris cursus mattis molestie a. 
                  Bibendum enim facilisis gravida neque convallis a cras semper. Amet tellus cras adipiscing enim eu turpis.
                Ultrices neque ornare aenean euismod elementum. Magna eget est lorem ipsum dolor. Varius quam quisque id diam. Ac auctor augue mauris augue neque. </p>
          </div>
        </div>
      </div>
<%- include('./partials/footer') %>