<%- include('./partials/navbar') %>
<%- include('./layouts/boilerplate') %>

<h1>Welcome <%= user.name %></h1>
<% if (user.role === 'admin') { %>
    <a href="/new">New Post</a>
<% } %>

<%- include('./partials/footer') %>

